/* To all */
@font-face {
    font-family: 'Ayematey';
    src: url('html/Ayematey-rgxay.ttf');
}

* {
    font-family: 'Ayematey';
}

button {
    border: none;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0px;
}

/* Index.html */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: rgb(255, 212, 146);
}

.greeting {
    padding: 20px;
    font-size: 50px;
}

.button-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    height: 20%;
}
.image {
    height: 450px;
    width: 500px;
}

.button-container button,
.rules-btn,
.game-btn {
    background: #92bdff;
    border: 1px white solid;
}

.button-container button,
.game-btn{
    padding: 10px 18px;
    font-size: 30px;
}

.rules-btn{
    padding: 5px 9px;
    font-size: 20px;
    width: 50%;
}

#rules {
    height: 100vh;
    background: #92bdff;
    padding: 100px 250px;
    font-size: 30px;
}

.rule-container {
    display: flex;
    flex-direction: column;
    background: rgb(255, 212, 146);
    height: 70%;
    padding: 20px;
    border-radius: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.rule-container p {
    margin-bottom: 0px;
}

.legend li {
    margin: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

/* Game.html */
#gameBody {
    background-image: linear-gradient(#7fcdff, #1da2d8);
}


.scoreHeader,
.score {
    font-size: 50px;
    margin: 0px;
    padding-top: 5px;
}

.gameText {
    text-align: center;
    font-size: 35px;
    padding-top: 100px;
    white-space: pre-line;

}

.choices {
    display: flex;
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    min-height: 75vh;
}

.choiceButton {
    border: 8px black solid;
    border-radius: 25px;
    transition: all 0.2s;
    background: #ccccc7;
}

.choice {
    width: 200px;
    padding: 8px;
}

.clicked {
    transform: scale(1.1);
    border-color: rgb(214, 175, 0);
    box-shadow: 0 0 10px rgb(214, 175, 0);
}